/* General */
@font-face {
    font-family: 'Varela Round';
    src: url('./fonts/VarelaRound-Regular.ttf') format('woff2'),
        url('./fonts/VarelaRound-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #ff9f21;
    --seconday: #ffcd5f;
    --brown:  #d07a52;
    --brownSecondary: #f0a26b;
    --background: #fffdd0;
    --botones: #e84954;
}

body {
    margin-top:5rem;
    font-family: 'Varela Round', sans-serif;
    background-color: var(--background);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 20px 30px;
}

.nav-logo{
    margin-left: 5rem;
}

.nav-logo img {
    height: 60px;
    margin-left: px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

.nav-item a:hover {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px 20px;
    background-color: var(--primary); 
    color: white; 
    border: none; 
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 15px 20px;
    color: var(--primary); 
    border: none; 
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer; 
    margin-right: 5rem;;
}

.btn-profile:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    background-color: #FF7700;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-profile:hover .profile-icon {
    filter: brightness(0) invert(1);
}

.descubre {
    display: flex;
    justify-content: left;
    margin-left: 7rem;
    align-items: center;
    margin-bottom: 2rem; /* Añadir margen inferior */
}

.texto {
    font-size: 60px;
    font-weight:bold;
    line-height: 120%;
}

.ola {
    position: relative;
    top: -4rem;
    left: -2rem;
    display: flex;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: var(--primary);
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}

.marquee span {
    display: inline-block;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    line-height: 140%;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.listOrgContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center; /* Añadir align-items center */
    margin: 5rem 7rem 7rem; /* Reduce el margen superior */
}

.searchbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5rem 7rem;
}

.searchbar {
    border: 3px var(--primary);
    border-radius: 50px;
    border-style: solid;
    padding: 1rem;
    margin: 15px 20px;
}

.search-icon {
    height: 2rem;
    width: 2rem;
}

.search-input {
    width: 50rem;
    height: 2rem;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    outline: none;
}

.lista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.ulOrg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 7rem;
}

.ulOrg li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.imgOrg {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
}

.ulOrg li:hover .imgOrg {
    transition: transform 0.3s;
    filter: brightness(0.9);
}

.ulOrg li:hover {
    text-decoration-line: underline;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 70px 0px 70px;
    background-color: var(--background);
    color: #000;
}

.footer-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
}

.footer-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
}

.footer-right h2 {
    font-size: 55px;
    font-weight: bold;
    text-align: end;
    margin-top: 0px;
    margin-bottom: 30px;
}

.logo {
    width: 100px;
    margin-bottom: 30px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.footer-links li {
    margin-bottom: 20px;
}

.footer-links a {
    text-decoration: none;
    color: #FF6600;
    font-weight: bold;
}

.footer-social {
    display: flex;
    gap: 10px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.form-input {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 70%;
}

.input {
    width: 60%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid var(--primary);
    border-radius: 50px;
    background-color: var(--background);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-policies {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}

.footer-policies a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.btn-footer {
    padding: 15px 20px;
    background-color: var(--background);
    color: black;
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-footer:hover {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    scale: 1.03;
}