:root {
  --primary: #ff9f21;
  --seconday: #ffcd5f;
  --brown: #d07a52;
  --brownSecondary: #f0a26b;
  --background: #fffdd0;
  --botones: #e84954;
  --nav: #ff7700;
}

body {
  margin: 0;
  background-color: var(--background);
}
html {
}

.nav-container {
  background-color: var(--background);
}

.items-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  gap: 5rem;
  color: var(--nav);
}

.items p {
  cursor: pointer;
}

.logo-nav img {
  margin-left: 3rem;
  height: 5rem;
  width: 5rem;
}

/* Contenedor principal del carrusel */
.container-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 10rem;
  margin-bottom: 5rem;
  position: relative;
}

.carousel-wrapper {
  width: 100%;
  max-width: 1200px;
  overflow: hidden; /* Controla el recorte y evita saltos */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%; /* Cada slide ocupa el 100% del contenedor */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: none;
  border-radius: 50px;
  padding: 1rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.slide-image {
  width: 35rem;
  height: 30rem;
  margin-right: 10rem;
}

/* Imagen */
.slide-image img {
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* Contenido */
.slide-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider-content {
  font-size: 1.2rem;
  text-decoration: bold;
  font-weight: 300;
  font-size: 40px;
  color: #333;
}

.btn-slider {
  background-color:var(--background) ;
  color: var(--primary);
  border: solid var(--primary);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 20px;
}

.btn-slider:hover {
  background-color: var(--seconday);
  color: var(--background);
}

/*  parte del scroll inicio */

.scroll-container {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 70px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  background-color: var(--primary);
}

.scroll-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-horizontal 15s linear infinite;
}

.scroll-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  color: var(--background);
  height: 100%;
}

/* Animación de desplazamiento */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* scroll final */

/* aventos pasados y activos inicio */
/* .wraper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  padding: 0.75rem 1.5rem;
  margin:3rem;
}
.title-wrap{
  text-align: center;
}

.wrapper {
  position: relative;
  width: auto;
  height: auto;
  background-color: var(--background);
  border: 2px solid var(--primary);
  padding: 0.75rem 1.5rem;
  border-radius: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 1rem;
}

.option {
  margin-right: 5px;
  width: 80.5px;
  height: 28px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 34px;
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
}

.option:last-child {
  margin-right: 4px;
}

.option:hover {
  background-color: var(--seconday);
}

.option:hover .span {
  color: var(--background);
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--primary);
}

.input:checked + .btn {
  background-color: var(--primary);
  transition: 0.2s cubic-bezier(0, 0, 0, 1);
}

.input:checked + .btn .span {
  color: var(--background);
  transition: 0.25s cubic-bezier(0, 0, 0, 1);
} */

/* PRUEBA BOTON */
.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.title-wrap {
  margin: 3%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  height: 40px;
  position: relative;
  background-color: var(--secondary);
  border: 3px solid var(--primary);
  border-radius: 34px;
  overflow: hidden;
  padding: 2px;
}

.option {
  flex: 1;
  /* padding: 0px 0; */
  border: none;
  background: none;
  border-radius: 20px;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 2;
  text-align: center;
}

/* Efecto de sombra al pasar el mouse, pero no en el botón seleccionado */
.option:not(.active):hover {
  background-color: var(--seconday);
  color: var(--brown);
  width: 48.8%;
  height: 95%;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

.slider {
  position: absolute;
  width: 48.8%;
  height: 85%;
  background-color: var(--primary);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  left: 3px;
}

.wrapper .option.active {
  color: var(--background);
}

/* GALERIA DE IMAGENES */

.galery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 5rem;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
}

.galery-image {
  height: 17rem;
  width: 17rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: green;
  border-radius: 10px;
}

/* IMAGENES DE CADA ELEMENTO DE LA GALERIA PRINCIPAL */
.galery-image.a {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.b {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.c {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.d {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.e {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.f {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.g {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.h {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.i {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.j {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.k {
  background-image: url("../img/main/images/albufera.webp");
}

.galery-image.l {
  background-image: url("../img/main/images/albufera.webp");
}

/* FIN DE LAS IMAGENES DE LA GALERÍA */

.galery-button {
  margin: 2rem 0;
  text-align: center;
}

.galery-button button {
  background-color: var(--background);
  color: black;
  padding: 0.75rem 1.5rem;
  border: solid var(--primary);
  border-radius: 10rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.galery-button button:hover {
  background-color: var(--primary);
}

/* COMENTARIOS ALEATORIOS */
/* .comments-container{
  background-color: blue;
  margin: 5rem;
  color: var(--fondoPagina);
}

.coments{
  background-color: #d03f51;
}

.coment{
  background-color:green;
} */

.comments-container {
  /* text-align: center; */
  padding: 2rem 0;
  background-color: var(--brown);
  color: #333;
  margin-top: 3rem;
}

.comments-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: var(--background);
  width: 30rem;
  margin: 1rem 5rem;
}

.comments {
  display: flex;
  overflow: hidden;
  position: relative;
  height: auto;
  margin-bottom: 3rem;
}

.comment {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 2rem;
  padding: 0.5rem;
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  animation: slide 10s linear infinite;
  height: auto;
}

.comment img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 1rem;
  object-fit: cover;
}

.comment h3 {
  font-size: 1.1rem;
  margin: 0.3rem 1rem;
  color: black;
  font-weight: bold;
  text-align: start;
}

.comment p {
  font-size: 0.9rem;
  color: #555;
  text-align: start;
  margin: 0 1rem;
}

/* Animación para movimiento infinito */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.comments:hover .comment {
  animation-play-state: paused;
}

/* FINAL DE COMENTARIOS ALEATORIOS */

/* IMAGENES CON MOVIEMIENTO  */

.dinamic-container {
  display: flex;
  justify-content: center;
  gap: 4.65rem;
  overflow: hidden;
  height: 600px; /* Ajusta según el tamaño de las imágenes */
  margin: 0 9.5rem;
}

.dinamic-column {
  display: flex;
  flex-direction: column;
  position: relative;
  animation: move-up 10s linear infinite;
}

/* Animaciones */
@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes move-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

/* Columnas con distintas animaciones */
.dinamic-left,
.dinamic-right {
  animation-name: move-up;
}

.dinamic-center {
  animation-name: move-down;
  animation-duration: 14s;
}

/* Imagenes */
.dina-image img {
  width: 350px;
  height: 350px;
  margin-bottom: 3rem;
}

/* PROXIMOS EVENTOS SECTION */

.prox-color {
  background-color: var(--brown);
}

.proximos-eventos-container {
  padding: 1rem;
  text-align: center;
}
.title-prox {
  text-align: center;
  padding: 3rem;
  font-weight: bold;
  color: var(--background);
}

.proximos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.proximos-img {
  width: 20rem;
  height: 20rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proximos-img.a {
  background-image: url("../img/main/images/tazas.png");
}

.proximos-img.b {
  background-image: url("../img/main/images/mercadillo.png");
}

.proximos-img.c {
  background-image: url("../img/main/images/atracciones.png");
}

.proximos-img.d {
  background-image: url("../img/main/images/festival.png");
}

.contenido-prox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}

.contenido-prox p {
  width: 50rem;
  color: var(--background);
  margin-left: 2rem;
}

.btn-prox {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  text-align: center;
}

.btn-prox button {
  background-color: var(--background);
  color: var(--brown);
  padding: 0.75rem 1.5rem;
  border: solid var(--brownSecondary);
  border-radius: 10rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-prox button:hover {
  background-color: var(--brownSecondary);
  color: var(--background);
}

/* FOOTER INICIO */
.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  background-color: var(--background);
  color: #333;
  margin: 4rem 0;
}

/* Sección de Información */
.info {
  margin-left: 6rem;
  width: 40rem;
}

.info img {
  height: 10rem;
  width: auto;
  margin-bottom: 1rem;
}

.info ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.info ul li {
  margin: 0.5rem 0;
}

.info ul li a {
  text-decoration: none;
  color: var(--nav);
  transition: color 0.3s ease;
}

.info ul li a:hover {
  color: #0056b3;
}

/* Íconos de Redes Sociales */
.social-icons a {
  display: inline-block;
  margin: 0 0.5rem;
  font-size: 2rem;
  color: #007bff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
  color: #0056b3;
}

/* SECCION NEWSLETTER */
.newsleter {
  text-align: end;
  margin-right: 6rem;
  width: 40rem;
}

.newsleter h1 {
  margin-bottom: 1rem;
}

.footer-input {
  display: inline-block;
  width: 40rem; /* Ancho ajustable */
}

.footer-input input {
  width: 15rem;
  border-radius: 30px;
  border-color: var(--primary);
}

.footer-btn button {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 40rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0 0 auto; /* Alinea el botón a la derecha */
  transition: background-color 0.3s ease;
}

.footer-btn button:hover {
  background-color: #0056b3;
}

/* Responsivo */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
  .newsletter {
    text-align: center;
  }
  .newsletter input,
  .newsletter button {
    margin: 0.5rem auto;
  }
}
