@font-face {
    font-family: title;
    src: url('../fonts/Baloo_Tamma_2/BalooTamma2-VariableFont_wght.ttf');
    font-weight: 48px;
    font-weight: bold;
}

@font-face {
    font-family: text;
    src: url('../fonts/Varela_Round/VarelaRound-Regular.ttf');
}

:root {
    --black: #000;
    --blanco: #ffff;
    --primary: #ff9f21;
    --orange: #FF7700;
    --secondary: #ffcd5f;
    --brown: #d07a52;
    --brownSecondary: #f0a26b;
    --background: #fffdd0;
    --botones: #e84954;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  html {
    animation: fadeIn 1s ease-in-out;
  }

body {
    margin: 0;
    background-color: var(--background);
    padding-top: 60px;
}

/* MENU */
.navbar {
    background-color: var(--background);
    position: fixed;
    top: 0;
    width: 100%;
}

.container-fluid {
    margin-inline: 4rem;
}

.container-fluid img {
    width: 5rem;
}

.nav-link {
    font-family: title;
    color: var(--orange);
    margin-inline: 1rem;
    font-size: 20px;
}

.inicio {
    color: var(--primary);
}

.nav-link.inicio img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    flex-wrap: row;
    justify-content: center;
    align-items: center;
    padding: 6rem 2rem;
}

.imagen {
    flex-basis: 40%;
    margin: 20px;
}

.imagen img {
    border-radius: 2rem;
}

.texto {
   margin-left: 20px;
  margin-right: 2rem;
}

.texto p{
    font-family: text;
    font-size: 20px;
}

.titulo {
    font-size: 48px;
    font-family: title;
}   
/* ICONO FAVORITO */

.icon-container {
    position: relative;
    display: inline-block;
    width: 50px;  /* Definir un ancho fijo */
    height: 50px; /* Definir una altura fija */
}

.icon-normal,
.icon-relleno {
    position: absolute;
    top: 0;
    left: 0;
    width: 64%;  /* Asegura que ambas imágenes tengan el mismo tamaño */
    height: 64%; /* Asegura que ambas imágenes cubran todo el espacio del contenedor */
}

.icon-relleno {
    opacity: 0; /* Ocultar el icono relleno por defecto */
    transition: opacity 0.3s; /* Transición suave */
    z-index: 1; /* Asegúrate de que esté por encima del icono normal cuando se haga hover */
}

.icon-container:hover .icon-relleno {
    opacity: 1; /* Mostrar el icono relleno cuando se hace hover */
    z-index: 2; /* Esto asegura que el icono relleno quede por encima */
}


.icon-container:hover .icon-relleno {
    opacity: 1; /* Mostrar el icono relleno al hacer hover */
}

.icon-container:hover .icon-normal {
    opacity: 0; /* Ocultar el icono normal al hacer hover */
}

h1,
.iconos,
p {
    margin-bottom: 1rem;
    /* Espacio después del nombre del evento */
}

.texto p,
.organizador-info p {
    font-family: text;
}



.organizador-info p {
    width: 40rem;
}

.title-org {
    font-size: 30px;
}

.text-org {
    font-size: 20px;
}

.img-fluid {
    max-width: 565px;
    height: auto;
}

/* ESPACIO ENTRE 2 ELEMENTOS DE MANERA RESPONSIVE */
.descripcion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
}

.descripcion .imagen {
    width: 50%;
    margin-right: 20px;
}

.descripcion a {
    text-decoration: none;
    font-family: text;
}

.descripcion .texto {
    width: 50%;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .descripcion {
        flex-direction: column;
    }

    .descripcion .imagen {
        width: 100%;
        margin-bottom: 20px;
    }

    .descripcion .texto {
        width: 100%;
    }
}

/* ICONOS */
.iconos img {
    width: 3rem;
    height: auto;
    margin-right: 1rem;
}

/* Si prefieres usar gap (para contenedores flexibles) */
.iconos {
    display: flex;
    gap: 10px;
    /* Espacio entre los iconos */
}

/* BOTONES */
.btn-custom {
    padding: 10px 25px;
    color: var(--black);
    background-color: transparent;
    border: 2px solid var(--primary);
    border-radius: 50px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 20px;
    font-family: title;
}

.btn-custom:hover {
    background-color: var(--orange);
    color: white;
}

.btn-custom,
.icon-container {
    float: right;
}

.boton-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: auto;
    width: 100%;

}

.btn-event {
    margin-top: 7.3rem;
}

/* SECCION DEL MAPA Y ORGANIZADOR*/
.contenedor-mapa{
margin: 4rem 4rem;
}

.contenedor-organizador {
    margin: 7rem 4rem;
}

.contenedor-mapa img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 2rem;
}

/* SECCION DEL ORGANIZADOR */

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.organizador-element {
    display: flex;
    padding: 2rem 0;
    gap: 2rem;
}

.organizador-img img {
    width: 200px;
    height: auto;
}

/* SECCION EVENTOS RELACIONADOS */

.seccion-eventos {
    background-color: var(--brown);
    padding-top: 2rem;
}

.title-eventos {
    text-align: center;
    width: 100%;
    color: var(--blanco);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.descripcion-eventos {
    font-family: title;
    color: var(--blanco);
    margin: 4rem;
    font-size: 38px;
}

.descripcion-eventos h1 {
    width: 45rem;
    padding: 2rem 0;
}

.img-eventos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.img-eventos img {
    width: 20%;
    border-radius: 2rem;
}

/* FRASE ANIMADA SCROLLING */
.marqueeContainer1{
    margin-top:60px;
  }
  
  .marquee-container1,
  .marquee-container2 {
    width: 100%;
    overflow: hidden;
    background-color: #FF7700;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 20px 0px;
  }
  
  .marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 50s linear infinite;
  }
  
  
  .marquee span {
    display: inline-block;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    font-family: "Baloo Tamma 2";
    line-height: 140%;
  }
  
  @keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  

/* SECCION FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 70px 0px 70px;
    background-color: var(--background);
    color: #000;
  }
  
  .footer-container {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
  }
  
  .footer-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .footer-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: right;
  }
  
  .footer-right h2 {
    font-size: 55px;
    font-weight: bold;
    text-align: end;
    font-family:"Baloo Tamma 2";    
    margin-top: 0px;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 30px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
  }
  
  .footer-links li {
    margin-bottom: 20px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #FF6600;
    font-weight: bold;
  }
  
  .footer-social {
    display: flex;
    gap: 10px;
  }
  
  .circle {
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 50%;
  }
  
  .newsletter-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
  
  .form-input {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    width: 71.3%;
  }
  
  .input1,
  .input2{
    padding: 15px;
    font-size: 16px;
    border: 2px solid var(--primary);
    border-radius: 50px;
    background-color: var(--background);
  }
  
  .input1{
    width: 38%;
  }
  
  .input2{
    width: 62%;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-policies {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
  }
  
  .footer-policies a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  
  .btn-footer {
    padding: 15px 20px;
    background-color: var(--background);
    color: black;
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.3s ease;
  }
  
  .btn-footer:hover {
    background-color: var(--primary);
    color: white;
  }
  
  input{
    transition: background-color 0.3s ease;
  }
  
  input:hover{
    background-color:rgb(255, 228, 200);
    
  }
  
  
  .footer-left a:hover {
    border-bottom: 2px solid var(--primary); 
  }
  
  .footer-bottom a:hover {
    border-bottom: 2px solid black; 
  }

  nav {
    font-family: "Baloo Tamma 2";
    font-size: 19px;
    height: 12vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    position:fixed;
    top:0;
    z-index:10; 
  }
  
  .nav-logo img {
    height: 60px;
    margin-left: 68px;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
    align-items: center;
  }
  
  .nav-item a {
    display: flex;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
    transition: background-color 0.5s ease, color 0.3s ease;
  }
  
  .nav-item a:hover {
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--primary); 
    color: white; 
    border: none; 
    cursor: pointer; 
  }
  

  .profile-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid var(--primary);
  }
  
  .btn-profile img {
    height: 20px;
    width: 20px;
  }
  
  .btn-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    padding: 15px 20px;
    background-color: var(--primary); 
    color: white; 
    border: none; 
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold; 
    font-family:"Varela Round"; 
    cursor: pointer; 
  }
  
  
  .btn-profile{
    padding: 13px 20px;
  }

  a{
    text-decoration: none;
  }

  .nav-logo{
    margin-right:37.3rem;
}

.text{
    height: 60vh;
}
.textP{
    width: 83%;
}

.iconos{
    margin-bottom:2.5rem;
}

.texto a{
    margin-bottom:1.3rem;
}

.texto{height: 70vh;}

.contenedor{
    justify-content: center;
    align-items: center;
}

.titulo{
    font-weight: 900;
}