:root {
  --primary: #ff9f21;
  --seconday: #ffcd5f;
  --brown:  #d07a52;
  --brownSecondary: #f0a26b;
  --background: #fffdd0;
  --botones: #e84954;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

html{
  animation: fadeIn 0.5s ease-in-out;
}

body {
  margin: 0;
  font-family: "Varela Round";
}

.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff9f0;
}

.navBar {
  height: 10vh;
  width: 90vw;
  display: flex;
  justify-content: start;
  align-items: center;
}

.navBarImg {
  height: 20px;
  width: 20px;
  background-image: url("../../img/login/inicio.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.5rem;
}

.navBar a {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Baloo Tamma 2";
  font-size: 23px;
  font-weight: 700;
  color: #ff9f21;
  text-decoration: none;
  border-radius: 2rem;
  transition: color 0.3s, background-color 0.3s;
}

.navBar a:hover {
  background-color: #ff9f21;
  border-radius: 2rem;
  color: #fff9f0;
}

.navBar a:hover .navBarImg {
  background-image: url("../../img/login/inicioHover.svg");
}

.mainContainer {
  height: 90vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: 2rem;
}

.logoContainer{
  height: 60vh;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  position: relative;
}

.imgContainer {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../../img/login/taronvibeLogo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
  position: absolute;
}

.textContainer{
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url("../../img/login/taronvibeText.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 68%;
  position: absolute;
}

.loginContainer {
  height: 70vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ff9f21;
  border-radius: 2rem;
}

.loginContainer1 {
  height: 75%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap:1.2rem;
}

.loginContainer1 h1 {
  margin: 0;
  margin-top: 1.3rem;
  font-family: "Baloo Tamma 2";
  font-size: 58px;
  font-weight: 800;
}

.loginContainer1 input {
  padding: 1rem;
  border: 2px solid #ff9f21;
  border-radius: 2rem;
  font-family: "Varela Round";
}

.loginContainer1 input::placeholder{
  color:#1c1c1c;
}

.loginContainer1 p{
  margin:0;
}

.formButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formButton button {
  padding: 0.5rem 2rem;
  border: 2px solid #ff9f21;
  border-radius: 2rem;
  font-family: "Baloo Tamma 2";
  font-size: 20px;
  font-weight: 700;
  background-color: #fff9f0;
  transition: color 0.3s, background-color 0.3s;
}

.formButton button:hover {
  background-color: #ff9f21;
  color: #fff9f0;
}

#signIn, 
#signUp {
  cursor: pointer;
}

.loginContainer2 {
  height: 20%;
  width: 90%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.loginContainer a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;
}

.loginContainer a:hover {
  border-bottom: 1px solid black;
}

/* SIGN IN */
.loginContainerInputs {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin-top: 0.5rem;
  gap: 15px;  
}

.loginContainerInputs2{
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.terms {
  display:flex;
  justify-content: center;
  align-items: center;
}

.terms span {
  color: #D07A52;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.3s ease;
}

.terms span:hover {
  border-bottom-color: #D07A52; 
  cursor: pointer;
}

.loginContainerInputs2 button{
  padding: 0.5rem 2rem;
  border: 2px solid #ff9f21;
  border-radius: 2rem;
  font-family: "Baloo Tamma 2";
  font-size: 20px;
  font-weight: 700;
  background-color: #fff9f0;
  transition: color 0.3s, background-color 0.3s;
}

.loginContainerInputs2 button:hover {
  background-color: #ff9f21;
  color: #fff9f0;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  padding: 0.68rem; 
  border: 2px solid #d07a52; 
  background-color: transparent; 
  border-radius: 0.45rem;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: #d07a52; 
  border-color: #d07a52; 
}

input[type="checkbox"]:checked::after {
  content: ''; 
  position: absolute;
  top: 4px;
  left: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); 
}

input{
  transition: background-color 0.25s ease;
}

input:hover{
  background-color: rgb(255, 228, 200);
}

.loginContainerFix{
  height: 75vh;
}

.loginContainerFix p{
 margin-bottom:0.8rem; 

}

.loginContainer1Fix{
  gap:0.5rem;
}

.loginContainer2Fix{
  margin-top:2rem;
}

.termsFix p{
  margin-top:0.8rem;
  margin-left:0.45rem;  

}